.main-container {
  height: 100vh;
  background-color: #f5f2ea;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.form {
  background-color: white;
  border-radius: 5%;
  width: 400px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: column;
}
.tittle-form {
  margin: 13px;
}
.text-form {
  margin-top: 1rem;
  white-space: pre;
}
.inputs-form {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.border-input {
  border-radius: 10px;
  border: solid #fafafa;
  width: 82%;
  height: 40px;
  outline: none;
}

.button-form {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.email {
  margin-top: 2px;
  font-size: 13px;
  padding: 10px;
}
.container-pass {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.pass {
  border: none;
  outline: none;
  font-size: 13px;
}
.icon-eye {
  position: absolute;
  top: 49%;
  right: 39%;
  cursor: pointer;
  color: #93929280;
}

.having {
  margin-top: 4px;
}
.container-button-siginin {
  width: 60%;
}
.button-sign {
  background-color: #fdc886;
  font-size: 15px;
  border-radius: 5%;
  border: none;
  width: 100%;
  height: 30px;
}
.social-id {
  display: ;
}
footer {
  margin-top: 10px;
}
